---
const PROJECTS = [
  
  {
    title: "Application for Configuring Xbee and LoRa Modules",
    description: "Design of an application to configure communication parameters of LoRa modules, adding a Firebase database for registration with a MAC system",
    image: "/image/Ebyte_nas.png",
    tags: [".net", "firebase", "c#"],
  },
  {
    title: "Control System with Socket and Database",
    description: "Design of a graphical interface in C# for controlling a communication system with a WiFi module and MySQL database for recording humidity and temperature data",
    image: "/image/UDP.png",
    tags: [".net", "mysql", "c#"],
  },
  {
    title: "RFID Access System",
    description: "Design of an access system in C# with RFID card and MySQL database for user and access logging",
    image: "/image/Access.png",
    tags: [".net", "mysql", "c#"],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-lg font-semibold text-purple-400 mb-2 text-pretty">{title}</h3>
      <p class="text-lg mb-4 text-white">{description}</p>
      <ul class="text-white">
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img class="rounded"
      src={image} alt={`Screenshot of the ${title} project`} />
    </article>
  ))
}
